<div class="row">
  <div class="col-md-5">
    <h2>Employees</h2>
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let employee of employees"
        (click)="selectEmployee(employee)"
        [class.active]="employee === selectedEmployee">
        {{employee.firstName}}
      </li>
    </ul>
    <button class="btn btn-warning" (click)="createNewEmployee()">New</button>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <app-emp-details
      [employee]="selectedEmployee"
      [createHandler]="addEmployee"
      [updateHandler]="updateEmployee"
      [deleteHandler]="deleteEmployee">
    </app-emp-details>
  </div>
</div>
